.container{
  border-radius: 50%;
  height: 400px;
  width: 400px;
  background: #99ffbb;
  position: relative;
/* padding-top: 50%; */
/* background: #ef8913; */
}
.container .timer{
 position: absolute;
 left: 0;
 top: 114px;
 bottom: 0;
 right: 0;
 margin: auto;
}